.topNavContainer {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  background: #eeeeef;

  height: 55px;
  width: 100%;
  min-width: 900px;

  text-align: center;

  position: fixed;
  top: 0;
}

.marginTop {
  margin-top: 65px;
}
